{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Incoming Requests | LeftOverLess</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="bg-gradient">

<div class="container">

  <h1>📥 Incoming Requests</h1>
  <p class="subtitle">Requests from receivers</p>

  {% if foods %}
  <div class="grid">

    {% for food in foods %}
    <div class="card">

      <span class="badge badge-requested">Requested</span>

      <h3>{{ food.food_name }}</h3>

      <p>👤 Receiver: {{ food.requested_by.profile.full_name }}</p>
      <p>🍴 Quantity: {{ food.quantity }} people</p>

      <p>
        🚚 Pickup Type:
        {% if food.pickup_type == 'self' %}
          Self Pickup
        {% else %}
          Volunteer Delivery
        {% endif %}
      </p>

      <div style="margin-top:15px">
        <a href="{% url 'approve_request' food.id %}" class="btn btn-primary">
          Approve
        </a>

        <a href="{% url 'reject_request' food.id %}" class="btn btn-danger">
          Reject
        </a>
      </div>

    </div>
    {% endfor %}

  </div>
  {% else %}
    <p>No incoming requests.</p>
  {% endif %}

  <br>
  <a href="{% url 'donor_dashboard' %}" style="color:white">← Back</a>

</div>

</body>
</html>
