<!DOCTYPE html>
<html>
<head>
    <title>Post Surplus Food</title>
</head>
<body>

<h2>Post Surplus Food</h2>

<form>
    <label>Food Type</label><br>
    <select>
        <option>Veg</option>
        <option>Non-Veg</option>
    </select><br><br>

    <label>Quantity (plates)</label><br>
    <input type="number" placeholder="Enter quantity"><br><br>

    <label>Pickup Location</label><br>
    <input type="text" placeholder="Enter location"><br><br>

    <label>Prepared Time</label><br>
    <input type="time"><br><br>

    <button type="submit">Post Food</button>
</form>

<br>
<a href="{% url 'donor_dashboard' %}">Back to Dashboard</a>

</body>
</html>
